body {
    position: relative;
    padding-top: 50px;
}

.navbar {
    background-color: #651a1a;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.page-title {
    font-weight: bold;
    color: #000080;
    text-shadow: 2px 2px lightgray;
}

.content {
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/purty_wood.png");
    color: #333333;
    font-family: 'Righteous', cursive;
}

.navbar-brand {
    font-family: 'Handlee', cursive;
    font-size: 20px;
}

#about {
    margin-top: 10px;
}

.skills-title {
    font-weight: bold;
    color: #000080;
    text-shadow: 2px 2px lightgray;
}

.bio {
    padding-top: 10px;
}

#portfolio {
    margin-top: 50px;
}

#contact {
    margin-top: 50px;
}

.bio-pic {
    width: 400px;
    height: 350px;
    border: 2px solid lightgray;
}

.portfolio-title {
    font-weight: bold;
    color: #000080;
    text-shadow: 2px 2px lightgray;
    margin-top: 10px;
    margin-bottom: 20px;
}

.portfolio-item {
    width: 300px;
    height: 400px;
}

.portfolio-first-row {
    margin-bottom: 50px;
}

.links-title {
    font-weight: bold;
    color: #000080;
    text-shadow: 2px 2px lightgray;
}

.links-email {
    font-family: 'Open Sans', sans-serif;
}

.link-buttons {
    margin-top: 20px;
    margin-bottom: 200px;
}

.link-button {
    margin-bottom: 10px;
}

.footer {
    font-family: 'Handlee', cursive;
}